[user]
	name = Fred Collman
	email = fredcollman@gmail.com
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore
[alias]
	### info & shortcuts
	aliases = !git config -l | grep alias | cut -c 7-
	alias = "!f() { git config --global \"alias.$1\" \"$2\"; }; f"
	explain = help
	
	### branch mgmt
	current = rev-parse --abbrev-ref HEAD
	delete = branch -d
    fdelete = branch -D
	unbranch = branch -d
    funbranch = branch -D
	branches = "!f() { git branch $@ | awk -F ' +' '! /\\(no branch\\)/ {print $2}'; }; f"
	rename = branch -m
	get = fetch --all --tags
	
	### (un)committing
    amend = commit --amend --no-edit
	unstage = reset HEAD --
	uncommit = reset --soft HEAD^
	wip = !git add -A && git commit -m 'WIP'
	unwip = reset --soft HEAD^
	stashup = "!oldb=`git current`; newb=\"$oldb-stash\"; git checkout -b $newb && git add -A && git commit -qm \"unwanted commit\" && git checkout $oldb"
	abandon = reset --hard @{upstream}
	pushall = push origin :
    imerge = "!f() { git merge "$@"; git mergetool --no-prompt; }; f"
    tmpstash = stash --keep-index --include-untracked

    ### diffing
    di = "!f() { default-diff.sh "$@" | ignore-imports.sh | maybe-page.sh; }; f"
    idiff = difftool --dir-diff
    staged = "!f() { git di --staged "$@"; }; f"
    istaged = difftool --dir-diff --staged
    pending = difftool --dir-diff --staged
    last = "!f() { git di HEAD^ "$@"; }; f"
    review = difftool --dir-diff origin/develop..develop

	### logging
	nicelog = "!nice-log.sh"
	graph = "!nice-log.sh --graph --topo-order"
	find = "!f() { term=$1 && shift && git nicelog --all --grep="$term" -i "$@"; }; f"
	id = "!f() { git log -n 1 "$@"; }; f"
	timeline = "!f() { git nicelog --first-parent $@; }; f"
	# ITS_BOARD = "!f() { ticket=$1 && shift && git find "ITS_BOARD-$ticket" "$@"; }; f"
	compete = shortlog -s -n

	### git flow
	dev = checkout develop
	master = checkout master
	sf = flow feature start
	fd = flow feature finish
	hf = flow hotfix start
	hd = !hotfix-done.sh
	hotfix = "!f() { git hf "$@" || git hd "$@"; }; f"

	### typos & abbreviations
	stauts = status
	st = status
	co = checkout
	aa = add --all
	ci = commit
	ff = pull --ff-only
	noff = merge --no-ff
	l = !git nicelog
	g = !git graph
	ga = !git graph --all
    dt = difftool --dir-diff
[difftool "kdiff3"]
    path = "/c/Program Files/KDiff3/kdiff3.exe"
    trustExitCode = false
[difftool]
    prompt = false
[diff]
    tool = kdiff3
[mergetool "kdiff3"]
    path = "/c/Program Files/KDiff3/kdiff3.exe"
    trustExitCode = true
[mergetool]
    keepBackup = false
[merge]
    tool = kdiff3
[push]
	default = simple
[url "https://github"]
	insteadOf = git://github
[url "git@gitlab.com:fredcollman/"]
	insteadOf = fred:
[url "git@github.com:fredcollman/"]
	insteadOf = hub:
[include]
	path = ~/.gitconfig.local
